{% extends 'base.html' %}
{% block main %}
    {% for article in article_list %}
        <article class="post post-{{ article.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
{#                            <a href="post/{{ article.pk }}">{{ article.title }}</a>#}
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ article.author }}</a></span>
                            <span class="comments-link"><a href="#">{{ article.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ article.excerpt }}...</p>
                        <div class="read-more cl-effect-14">
                            <a href="{{ article.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
    {% endfor %}
{% endblock %}